---
layout: default
---

<div class="post">

  <div class="post-info">
    {% if page.date %}
      <time datetime="{{ page.date }}">{{ page.date | date: "%Y-%m-%d" }}</time>
    {% endif %}
  </div>
  <h1 class="post-title">
    <div>{{ page.title }}</div>
  </h1>

  {% if page.toc %}
  <div class="toc-container">
    <h2 id="toc-title" class="toc-title">목차</h2>
    {{ content | toc_only }}
  </div>
  {% endif %}

  {{ content }}

  <div class="category-container">
    <span>Category: {{ page.categories[0] }}</span>
  </div>

</div>

{% include related-posts.html %}
